*{
  button:focus {outline:0;}
  input:focus {outline:0;}
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}


body{
  .signUpBackgroundImage{
    background-image: url(../images/beachdog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    position: fixed;
    background-position:center;
  }

.loginBackgroundImage{
  background-image: url(../images/fieldDog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
  position: fixed;
  background-position:center;
 }
 background: #F5F8FA;
}

.navbar{
  background:#E79C67;
  width:100%;
  height: 70px;
  box-shadow: 1px 1px 10px grey;

  .navTitle{
    color: white;
    font-size: 200%;
    margin-left: 1%;
    padding-top: 1%;
    float:left;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px black;
  }

  .searchBar{
    margin-left: 37%;

    input{
      height: 30px;
      width:40%;
      margin-top:2%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid white;
      padding-left: 10px;
    }

    button{
      height:30px;
      width:6%;
      margin-left: -1%;
      border:1px solid black;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color:#E79C67;
      border: 1px solid white;
      background:white;
    }

    button:hover{
      color:white;
      background:#E79C67;
    }
  }

  .loginLogoutContainer{
    float:right;
    width:15%;
    margin-top: -2%;

    button{
      background: #E79C67;
      border:1px solid #E79C67;
      color:white;
    }

  .login{
    float:right;
    margin-right: 10%;
    background:#E79C67;
  }
  .logout{
    float:right;
    margin-right: 10%;
    background:#E79C67;
  }
  }
}

.signUpContainer{
  border-radius: 10px;
  height: 450px;
  width: 35%;
  margin: auto;
  margin-top: 8%;
  opacity: .4;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);

  .signUpQuote{
    text-align: center;
    font-size: 200%;
    padding-top: 10%;
    color:white;
    font-family: 'Fredoka One', cursive;
  }

  form{
    margin: auto;
    width: 80%;
    margin-top: 5%;
  }

  input{
    width: 95%;
    margin-top: 10%;
    border-radius: 10px;
    border: 1px solid white;
    height:25px;
    padding-left: 10px;
  }

  button{
    text-align: center;
    height:35px;
    border-radius: 10px;
    border:1px solid rgba(50, 50, 50, .5);
    background: #E79C67;
    color:white;
    margin-left: 40%;
  }

  button:hover{
    background: white;
    color:#E79C67;
  }

  .loginButton{
    margin-left: 40%;
  }

  .notAUserButton{
    margin-left: 24%;
    margin-top: 5%;
  }
}

.signUpContainer:hover{
  opacity: 1;
  transition: all .5s ease-in-out;
}

.userContainer{
  width: 25%;
  height: 500px;
  margin-left: 2%;
  margin-top: 2%;
  float:left;
  background-color: #D5ECF4;
  border-radius: 10px;
  border: 1px solid grey;
  color:white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 15px grey;

  .profilePictureContainer{
    height:45%;
    width:80%;
    margin: auto;

    .profileName{
      text-align: center;
    }

    .profilePicture{
      height:60%;
      width:55%;
      border-radius: 500px;
      margin:auto;
      margin-top: 5%;
      border:1px solid lightgrey;

      img{
        width: 100%;
        height: 100%;
        border-radius: 100px;
      }
    }

    .dogContainer{
      width: 100%;
      height:40%;

      .dogPicture{
        height:90%;
        width:30%;
        border-radius: 100%;
        display: inline-block;
        margin-right: 3%;
        text-align: center;
        border:1px solid lightgrey;

        img{
          width: 100%;
          height:100%;
          border-radius: 100%;

          .dogName{
            width:30%;
            height:30%;
          }
        }
      }
    }
  }

  .dogTags{
    height:40%;
    width:80%;
    border:1px solid black;
    margin:auto;
    margin-top: 15%;

    ul{
      list-style-type: none;
    }
  }
}

.matchContainer{
  height: 300px;
  width:100%;
  border:1px solid black;
  margin-top: 12%;
  float:left;
}

.feed{
  height:800px;
  width:45%;
  border:1px solid black;
  float:left;
  margin-left: 12%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.userAboutMe{
  height:100%;
  width:40%;
  float:left;
  margin-left: 14.5%;
  margin-top: 2%;
  overflow: auto;
  border: 1px solid lightgrey;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  background: #E79C67;
  color:white;
  text-shadow: 1px 1px 2px black;
}

.dogAboutMe{
  height:100%;
  width:40%;
  float:left;
  margin-left: 14.5%;
  margin-top: 1%;
  overflow: auto;
  border: 1px solid lightgrey;
  padding-left:1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  background: #E79C67;
  color:white;
  text-shadow: 1px 1px 2px black;
}
