*{
  button:focus {outline:0;}
  input:focus {outline:0;}
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

body{
  .signUpBackgroundImage{
    background-image: url(../images/beachdog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    position: fixed;
    background-position:center;
  }

.loginBackgroundImage{
  background-image: url(../images/fieldDog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 100%;
  position: fixed;
  background-position:center;
 }
 background: #E4E5DF;
}

.landing-nav {
    background-color: transparent !important;
}

.navbar{
  background:#E79C67;
  width:100%;
  height: 70px;
  box-shadow: 1px 1px 10px grey;

  .navTitle{
    color: white;
    font-size: 200%;
    margin-left: 1%;
    padding-top: 1.5%;
    float:left;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px black;

    a{
      color: white;
      font-family: 'Fredoka One', cursive;
      text-decoration: none;
    }
  }

  .searchBar{
    margin-left: 37%;

    input{
      height: 30px;
      width:40%;
      margin-top:2.5%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid white;
      padding-left: 10px;
    }

    button{
      height:30px;
      width:6%;
      margin-left: -1%;
      border:1px solid black;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color:#E79C67;
      border: 1px solid white;
      background:white;
    }

    button:hover{
      color:white;
      background:#E79C67;
    }
  }

  .loginLogoutContainer{
    float:right;
    width:15%;
    margin-top: -2%;

    button{
      background: #E79C67;
      border:1px solid #E79C67;
      color:white;
    }

  .login{
    float:right;
    margin-right: 10%;
    background:#E79C67;
  }
  .logout{
    float:right;
    margin-right: 10%;
    background:#E79C67;
  }
  }
}

.footer{
  height:50px;
  width:100%;
  background: black;
  clear:both;
}

  .notAUserButton{
    margin-left: 23%;
    margin-top: 5%;
  }

.signUpContainer{
  border-radius: 5px;
  height: 525px;
  width: 35%;
  margin: auto;
  margin-top: 5%;
  opacity: .4;
  transition: all .5s ease-in-out;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 20px black;
  background: rgba(50, 50, 50, .5);

  .alreadyMember{
    margin-right: 30%;
  }

  .signUpQuote{
    text-align: center;
    font-size: 200%;
    padding-top: 10%;
    color:white;
    font-family: 'Fredoka One', cursive;
  }

  form{
    margin: auto;
    width: 80%;
    margin-top: 5%;
  }

  input{
    width: 95%;
    margin-top: 10%;
    border-radius: 5px;
    border: 1px solid white;
    height:25px;
    padding-left: 10px;
  }

  button{
    text-align: center;
    height:35px;
    border-radius: 5px;
    border:1px solid rgba(50, 50, 50, .5);
    background: #E79C67;
    color:white;
    margin-bottom: 2%;
  }

  button:hover{
    background: white;
    color:#E79C67;
  }

  .loginButton{
    margin-left: 40%;
  }

  .signUpButton{
    margin-left: 40%
  }

  .alreadyMember{
    margin-left: 13%;
    width: 75%;
  }
}

.signUpContainer:hover{
  opacity: 1;
  transition: all .5s ease-in-out;
}

.homeUserContainer{
  height: 360px;
  width: 30%;
  margin-left: 2.5%;
  margin-top: 3%;
  float:left;
  margin-bottom: 3%;


  .homeUser{
    float:left;
    height:100%;
    width:70%;
    box-shadow: 0px 0px 25px 0px grey;

    .homeUserPhoto{
      height:70%;
      width:100%;
      border:1px solid grey;
      display: inline-block;
      border-top-left-radius: 5px;

      img{
        height:100%;
        width:100%;
        border-top-left-radius: 5px;
      }
    }

    .homeUserInfo{
      height: 30%;
      width: 100%;
      border:1px solid grey;
      margin-top: -1.5%;
      padding-left: 2%;
      padding-top: 2%;
      background: white;
      border-top: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .homeDog{
    float:right;
    height:30%;
    width:30%;

    .homeDogPhoto{
      height:100%;
      width:100%;
      border:1px solid grey;
      border-left: 0px;

      img{
        height:100%;
        width:100%;
        margin-bottom: 5%;
      }
    }

    .homeDogInfo{
      height:45%;
      width:100%;
      border:1px solid grey;
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }
}

.userContainer{
  width: 25%;
  height: 500px;
  margin-left: 2%;
  margin-top: 2%;
  float:left;
  background-color: #D5ECF4;
  border-radius: 5px;
  border: 1px solid grey;
  color:grey;

  .addDogButton{
    float:left;
    a{
      color:grey;
      font-size: 190%;
      margin-left: 4%;
    }

    a:hover{
      color:#E79C67;
    }
  }

  .chat{
    float: right;
    transform: rotate(45deg);
    width: 16%;
    filter: opacity(48%);
    display: inline-block;

        &:hover{
            color:#E79C67;
            filter: saturate(700%);
            filter: opacity(100%);
        }
  }

  .profilePictureContainer{
    height:45%;
    width:80%;
    margin: auto;

    .profileName{
      text-align: center;
    }

    .profilePicture{
      height:60%;
      width:55%;
      border-radius: 100%;
      margin:auto;
      margin-top: 5%;
      border:1px solid lightgrey;

      img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .dogContainer{
      margin-top: 2%;
      width: 100%;
      height:40%;
      border-radius: 10px;
      padding-left: 4%;
      background: #E79C67;
      border: 1px solid lightgrey;
      text-align: center;

      .dogPicture{
        height:90%;
        width:30%;
        border-radius: 100%;
        display: inline-block;
        margin-right: 3%;
        text-align: center;
        border:1px solid lightgrey;
        margin-top: 1%;

        img{
          width: 100%;
          height:100%;
          border-radius: 100%;

          .dogName{
            width:30%;
            height:30%;
          }
        }
      }
    }
  }

  .dogTags{
    height:30%;
    width:80%;
    border:1px solid black;
    margin:auto;
    margin-top: 24%;

    ul{
      list-style-type: none;
    }
  }
}

.matchContainer{
  height: 300px;
  width:100%;
  border:1px solid black;
  margin-top: 12%;
  float:left;
}

.feed{
  height:100%;
  width:45%;
  border:1px solid grey;
  border-radius: 5px;
  float:right;
  margin-right: 24.5%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #D5ECF4;
  padding-bottom: 2%;

  .feedContent{
    margin: auto;
    margin-top: 9%;
    width:98%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    img{
      height:100%;
      width:100%;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .caption{
      color:grey;
      background: white;
      margin-top: -2%;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 1%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }

  .addPhotoPostButton{
    width: 10%;
    height:5%;
    float:left;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5px;
    color: grey;

    i{
      font-size: 120%;
      margin-left: 5%;
      margin-top: 15%;
    }

    a{
      color:grey;
      text-decoration: none;
    }
  }

  .addPhotoPostButton:hover{
    a{
      color:#E79C67;
    }
  }

  .addTextPostButton{
    width: 10%;
    height:5%;
    float:right;
    margin-top: 1%;
    border-radius: 5px;
    i{
      font-size: 120%;
      margin-top: 15%;
    }

    a{
      color:grey;
      text-decoration: none;
    }
  }
}

.addTextPostButton:hover{
  a{
    color:#E79C67;
  }
}

.editUserModalBackground{
  background: rgba(50, 50, 50, .9);
  width:100%;
  height:100%;
  position:fixed;
  z-index:1000;
}

.editUserModal{
  height: 375px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  position:fixed;
  left:30%;
  top:20%;
  box-shadow: 5px 5px 100px black;

  .editUserModalTitle{
    width: 100%;
    height:8%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .postButton{
    float:right;
    margin-right: 5%;
  }

  .cancelButton{
    float:left;
    margin-left: 5%;
  }

  form{
    border-top: 2px dotted grey;
    background: white;
    border-bottom: 2px dotted grey;
  }

  input{
    border:1px solid white;
    width:100%;
    padding-left: 3%;
    margin-top: 3%;
  }

  textarea{
    margin-top: 7%;
    border-radius: 5px;
    border: 1px solid white;
    width:100%;
    padding-left: 3%;
    outline: none;
  }

  button{
    margin-top: 3%;
    border:1px solid #E79C67;
    border-radius: 5px;
    background: white;
    width:15%;
    opacity: .3;
  }

  button:hover{
    opacity: 1;
    background:#E79C67;
    color:white;
  }
}

.addDogModalBackground{
  background: rgba(50, 50, 50, .9);
  width:100%;
  height:100%;
  position:fixed;
  z-index:1000;
}

.addDogModal{
  height: 470px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  position:fixed;
  left:30%;
  top:20%;
  box-shadow: 5px 5px 100px black;

  .addDogModalTitle{
    width: 100%;
    height:8%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .postButton{
    float:right;
    margin-right: 5%;
  }

  .cancelButton{
    float:left;
    margin-left: 5%;
  }

  form{
    border-top: 2px dotted grey;
    background: white;
    border-bottom: 2px dotted grey;
  }

  input{
    border:1px solid white;
    width:100%;
    padding-left: 3%;
    margin-top: 3%;
  }

  textarea{
    margin-top: 7%;
    border-radius: 5px;
    border: 1px solid white;
    width:100%;
    padding-left: 3%;
    outline: none;
  }

  button{
    margin-top: 3%;
    border:1px solid #E79C67;
    border-radius: 5px;
    background: white;
    width:15%;
    opacity: .3;
  }

  button:hover{
    opacity: 1;
    background:#E79C67;
    color:white;
  }
}

.addTextModalBackground{
  background: rgba(50, 50, 50, .9);
  width:100%;
  height:100%;
  position:fixed;
  z-index:1000;
}

.addTextModal{
  height: 270px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  position:fixed;
  left:30%;
  top:30%;
  box-shadow: 5px 5px 100px black;

  .addTextModalTitle{
    width: 100%;
    height: 10%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .addText{
    padding-top: 0px;
  }

  .postButton{
    float:right;
    margin-right: 5%;
  }

  .cancelButton{
    float:left;
    margin-left: 5%;
  }

  form{
    padding-top: 12%;
    border-top: 2px dotted grey;
    background: white;
    border-bottom: 2px dotted grey;
  }

  textarea{
    border-radius: 5px;
    border: 1px solid white;
    width:100%;
    padding-left: 3%;
    padding-top: 2%;
    outline: none;
  }

  button{
    margin-top: 3%;
    border:1px solid #E79C67;
    border-radius: 5px;
    background: white;
    width:15%;
    opacity: .3;
  }

  button:hover{
    opacity: 1;
    background:#E79C67;
    color:white;
  }
}

.addPhotoModalBackground{
  background: rgba(50, 50, 50, .9);
  width:100%;
  height:100%;
  position:fixed;
  z-index:1000;
}

.addPhotoModal{
  height: 355px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  position:fixed;
  left:30%;
  top:30%;
  box-shadow: 5px 5px 100px black;

  .addPhotoModalTitle{
    width: 100%;
    height: 10%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .postButton{
    float:right;
    margin-right: 5%;
  }

  .cancelButton{
    float:left;
    margin-left: 5%;
  }

  form{
    border-top: 2px dotted grey;
    background: white;
    border-bottom: 2px dotted grey;
  }

  input{
    border:1px solid white;
    width:100%;
    padding-left: 3%;
    margin-top: 3%;
  }

  textarea{
    margin-top: 7%;
    border-radius: 5px;
    border: 1px solid white;
    width:100%;
    padding-left: 3%;
    outline: none;
  }

  button{
    margin-top: 3%;
    border:1px solid #E79C67;
    border-radius: 5px;
    background: white;
    width:15%;
    opacity: .3;
  }

  button:hover{
    opacity: 1;
    background:#E79C67;
    color:white;
  }
}

.addTextModalBackground{
  background: rgba(50, 50, 50, .9);
  width:100%;
  height:100%;
  position:fixed;
  z-index:1000;
}

.addTextModal{
  height: 270px;
  width: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  margin: auto;
  position:fixed;
  left:30%;
  top:30%;
  box-shadow: 5px 5px 100px black;

  .addTextModalTitle{
    width: 100%;
    height: 10%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .addText{
    padding-top: 0px;
  }

  .postButton{
    float:right;
    margin-right: 5%;
  }

  .cancelButton{
    float:left;
    margin-left: 5%;
  }

  form{
    padding-top: 12%;
    border-top: 2px dotted grey;
    background: white;
    border-bottom: 2px dotted grey;
  }

  textarea{
    border-radius: 5px;
    border: 1px solid white;
    width:100%;
    padding-left: 3%;
    padding-top: 2%;
    outline: none;
  }

  button{
    margin-top: 3%;
    border:1px solid #E79C67;
    border-radius: 5px;
    background: white;
    width:15%;
    opacity: .3;
  }

  button:hover{
    opacity: 1;
    background:#E79C67;
    color:white;
  }
}

.userAboutMe{
  height:100%;
  width:45%;
  float:left;
  margin-left: 3.5%;
  margin-top: 2%;
  overflow: auto;
  border: 1px solid grey;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  background: #D5ECF4;
  color:grey;
}

.dogAboutMe{
  height:100%;
  width:40%;
  float:left;
  margin-left: 8.5%;
  margin-top: 1%;
  overflow: auto;
  border: 1px solid grey;
  padding-left:1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  background: #E79C67;
  color:white;
}
