<div class="addDogModalBackground">
<div class="addDogModal">
  <div class="addDogModalTitle">Add a dog</div>
  <form class="addDog">
    <input type="text" placeholder="Dog Photo URL" ng-model="dog.picture"/>
    <input type="text" placeholder="Name" ng-model="dog.name"/>
    <input type="text" placeholder="Breed" ng-model="dog.breed"/>
    <input type="text" placeholder="Age" ng-model="dog.age"/>
    <textarea name="description" rows="7" cols="40" placeholder="About your dog" ng-model="dog.description"></textarea>
    <button class = "postButton" ng-click="ProfileController.addDog(dog)">Post</button>
    <button class = "cancelButton" ng-click="ProfileController.backToProfile()">Cancel</button>
  </form>
</div>
</div>
