<div class="editUserModalBackground">
<div class="editUserModal">
  <div class="editUserModalTitle">Edit Your Info</div>
  <form class="editUser">
    <input type="text" placeholder="Profile Picture URL" ng-model="data.profilePic"/>
    <input type="text" placeholder="Location" ng-model="data.location"/>
    <textarea name="description" rows="7" cols="40" placeholder="Tell your potential match about yourself" ng-model="data.description"></textarea>
    <button class = "postButton" ng-click="ProfileController.editUserInfo(data); ProfileController.addTags(input)">Post</button>
    <button class = "cancelButton" ng-click="ProfileController.backToProfile()">Close</button>
  </form>
</div>
</div>
