<div class="navbar">
    <div class="navTitle"><a href="#!/home">BarkSpark</a></div>
    <form class="searchBar">
      <input type="text" placeholder="Search for your perfect match"/>
      <button><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="loginLogoutContainer">
    <form class="login" ng-show="!loggedIn">
      <a href = "#!/login"><button>Log-In</button></a>
    </form>
    <form class="logout" ng-show="loggedIn" ng-submit="logout()">
      <button>Log-Out</button>
    </form>
  </div>
  </div>

  <div ui-view></div>
