<div class="profileContainer" ng-model="currentUser" ng-init="currentUser = true">
    <div class="userContainer">
        <div class="profilePictureContainer">
            <div class="addDogButton" ng-if="currentUser">
                <a href="#!/profile/{{ProfileController.currentUser.id}}/addDog">
                    <i class="fa fa-paw" aria-hidden="true" ng-show="ProfileController.myProfile"></i>
                </a>
            </div>
            <div class="requestChat" ng-hide="ProfileController.myProfile || ProfileController.alreadyMatch">
                <img src="./images/dogbone.png" class="chat" ng-click="ProfileController.newMatch()">
            </div>
            <div class="profilePicture">
                <a href="#!/profile/{{ProfileController.currentUser.id}}/editUser">
                  <span class="clickMe" ng-show="ProfileController.currentUser.profilePic === null">Click here to edit your info!</span>
                    <img ng-src="{{ProfileController.currentUser.profilePic}}" ng-show="ProfileController.currentUser.profilePic != null"/></a>
            </div>
            <div class="profileName">
                {{ProfileController.currentUser.username}}
                <br/> {{ProfileController.currentUser.location}}
            </div>
            <div class="dogContainer">
                <div class="dogPicture" ng-repeat="dog in ProfileController.dogs | limitTo:3">
                    <img ng-src="{{dog.picture}}" />
                    <div class="dogName">
                        {{dog.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="matchContainer" ng-if="currentUser" ng-show="ProfileController.myProfile">
        <div class="matchContainerTitle">Matches</div>
        <div class="matchName" ng-repeat="match in ProfileController.matches" ng-show="match.accepted === false">
          <img src = "{{match.Sender.profilePic}}">
            <a href="#!/profile/{{match.senderId}}">{{match.Sender.username}}</a>
            <span class="matchX">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <span class="matchCheck" ng-click="ProfileController.acceptMatch(match.id)">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <br><br><br>
        </div>
    </div>
</div>
</div>
<div class="userAboutMe">
    <b>{{ProfileController.currentUser.username}}</b><br><br><b>Age:</b> {{ ProfileController.getAge(ProfileController.currentUser.DOB) }}<br> <b>About me:</b> {{ProfileController.currentUser.description}}
</div>
<div class="dogAboutMe" ng-repeat="dog in ProfileController.dogs | limitTo:3">
    <b>{{dog.name}}</b> <br><br> <b>Breed:</b> {{dog.breed}} <br> <b>Age:</b> {{dog.age}} <br> <b>About:</b> {{dog.description}}
</div>
<div ui-view></div>
<div class="feed">
    <div class="addTextPostButton" ng-show="ProfileController.myProfile">
        <a href="#!/profile/{{ProfileController.currentUser.id}}/addText">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </a>
    </div>
    <div class="feedContent" ng-repeat="post in ProfileController.currentUser.Posts">
        <img ng-src="{{post.photoUrl}}" ng-show="post.photoUrl">
        <div class="caption" ng-show="post.body"><b>"</b>  {{post.body}}  <b>"</b><div class = "timeStamp"> {{post.createdAt.slice(0, 10)}}</div></div>
    </div>
</div>
