<div class="signUpBackgroundImage">
    <div class="signUpContainer">
        <div class="signUpQuote">
            Puppy Love Awaits
        </div>
        <form class="signUp" ng-submit="signUp(data)">
            <input type="email" placeholder="Email" ng-model="data.email">
            <input type="text" placeholder="Username" ng-model="data.username">
            <input type="password" placeholder="Password" ng-model="data.password">
            <input type="date" ng-model="data.birthday"><br><br>
            <button>Sign Up!</button>
        </form>
    </div>
  </div>
